<label class="unique-browser">
    <input type="checkbox">
    <span>Show tips that only work in {{ browser | processBrowserTagName | capitalize }}</span>
</label>
<script async src="/assets/unique-browser-features.js"></script>