/* View transitions */
@view-transition {
  navigation: auto;
}

/* Themes  */
:root {
  --text-color: black;
  --background-color: white;

  --code-text-color: black;
  --code-background-color: #cdddea;

  --keyboard-text-color: black;
  --keyboard-background-color: #ddd;

  --browser-tag-background-color: #d99cb5;
  --browser-tag-text-color: black;

  --category-tag-background-color: gold;
  --category-tag-text-color: black;

  --alternate-background-color: #faf1fe;
  --alternate-background-color-fade: color-mix(
    in srgb,
    var(--alternate-background-color),
    white 50%
  );
  --separator-color: #f1d0ff;
  --separator-color-fade: color-mix(in srgb, var(--separator-color), black 50%);
  --sub-text-color: #555;

  --accent-color: #1a776b;
  --accent-color-lighter: color-mix(in srgb, var(--accent-color), white 50%);
  --accent-color-darker: color-mix(in srgb, var(--accent-color), black 50%);
  --focus-border-color: #333;
}

::backdrop {
  --lightbox-backdrop: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;

    --code-text-color: white;
    --code-background-color: #333;

    --keyboard-text-color: black;
    --keyboard-background-color: #ddd;

    --browser-tag-background-color: #d99cb5;
    --browser-tag-text-color: black;

    --category-tag-background-color: gold;
    --category-tag-text-color: black;

    --alternate-background-color: #1b2c2b;
    --alternate-background-color-fade: color-mix(
      in srgb,
      var(--alternate-background-color),
      black 50%
    );
    --separator-color: #364645;
    --separator-color-fade: color-mix(
      in srgb,
      var(--separator-color),
      white 50%
    );
    --sub-text-color: #cbcbcb;

    --accent-color: #34a29c;
    --accent-color-lighter: color-mix(in srgb, var(--accent-color), white 50%);
    --accent-color-darker: color-mix(in srgb, var(--accent-color), black 50%);
    --focus-border-color: rgb(223, 223, 223);
  }

  ::backdrop {
    --lightbox-backdrop: #111;
  }
}

/* Screenreader-only class. Makes content available for assistive technologies while hiding it visually */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/* Resets */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  line-height: 1.4;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main styles */

html {
  overflow: auto;
  scroll-padding-top: 7rem;
}

body {
  font-size: 1rem;
  font-family: system-ui, Arial, sans-serif;
  color: var(--text-color);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
}

:focus-visible {
  outline: 2px dashed var(--focus-border-color);
}

a {
  color: var(--accent-color);
}

a:hover {
  text-decoration: none;
}

/* Header */

header {
  align-self: start;
  background: var(--alternate-background-color);
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  position: sticky;
  top: 0;
  box-shadow: -100vw 0 0 100vw var(--alternate-background-color);
}

header label[for="show-menu"] {
  display: none;
}

header .title {
  text-align: center;
  display: block;
  height: 3rem;
  background: url(/assets/logo-small.png) no-repeat center;
  background-size: contain;
}

@media (prefers-color-scheme: dark) {
  header .title {
    filter: invert(100);
  }
}

header nav {
  margin-block-start: 2rem;
  font-size: 0.9rem;
  line-height: 1.4;
}

.header-menu > li {
  padding: 1rem 0;
  border-block-start: 2px solid var(--separator-color);
  font-weight: bold;
}

.header-menu a {
  font-weight: normal;
  color: var(--sub-text-color);
  text-transform: capitalize;
}

.header-menu a:hover,
.header-menu a:focus {
  color: var(--text-color);
}

.header-menu .submenu {
  margin-block-start: 1rem;
}

.header-menu a img {
  vertical-align: middle;
  height: 1em;
}

.header-menu .submenu a:has(span) {
  text-decoration: none;
}

.header-menu .submenu a span {
  text-decoration: underline;
}

.header-menu .submenu a:hover span {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .header-menu a img {
    filter: invert(1);
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: revert;
  }

  header {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    header {
      transition: 0.15s ease-in-out translate;
    }
  }

  header .title {
    background-position: left center;
    margin-inline-end: 3rem;
  }

  body:has(#show-menu:checked) header {
    translate: 0;
  }

  body:has(#show-menu:checked) {
    overflow-y: hidden;
  }

  header label[for="show-menu"] {
    display: block;
    position: absolute;
    right: 2rem;
    top: 3rem;
  }

  header label[for="show-menu"] svg {
    height: 1.5rem;
    fill: var(--separator-color-fade);
  }
}

/* Search bar */

.search {
  max-width: 50%;
  flex-grow: 1;
}

@media only screen and (max-width: 700px) {
  .search {
    max-width: 100%;
  }
}

.search form {
  display: flex;
  position: relative;
}

.search input {
  flex: 1;
  flex-basis: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: var(--alternate-background-color);
  width: 0;
  font: inherit;
  color: inherit;
}

.search input::placeholder {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .search input {
    border: 2px solid var(--accent-color-lighter);
    background: var(--accent-color-darker);
  }
}

.search .pagefind-ui__drawer {
  position: absolute;
  background: var(--alternate-background-color);
  padding: 1rem;
  top: 4rem;
  border: 2px solid var(--accent-color-darker);
  border-radius: 4px;
  z-index: 1;
  max-height: min(calc(100vh - 7em), 40em);
  overflow-y: scroll;
  overscroll-behavior-block: contain;
}

.search .pagefind-ui__hidden {
  display: none;
}

.search .pagefind-ui__search-clear.pagefind-ui__suppressed {
  display: none;
}

.search .pagefind-ui__search-clear {
  position: absolute;
  right: 0.66rem;
  top: 0.66rem;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  border: none;
  background: var(--accent-color-darker);
  background-image: url(/assets/close.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: transparent;
}

.search .pagefind-ui__message {
  margin: 0;
  font-size: 0.9rem;
  color: var(--sub-text-color);
  text-align: end;
}

.search .pagefind-ui__result:not(:first-child) {
  margin-block-start: 1rem;
}

.search .pagefind-ui__result-title {
  margin: 0;
}

.search .pagefind-ui__result-excerpt {
  color: var(--sub-text-color);
  font-size: 0.9rem;
  margin: 0;
}

/* Content area */

main {
  padding: 0 5rem 2rem 5rem;
  line-height: 1.8;
  background: var(--background-color);
  min-height: 100vh;
}

@media only screen and (max-width: 500px) {
  main {
    padding: 0 2rem 2rem 2rem;
  }
}

@media only screen and (max-width: 400px) {
  main {
    padding-inline: 1rem;
  }
}

main h1 {
  margin: 0 0 1rem 0;
}

/* Toolbar */

.page-toolbar {
  padding-block-start: 2rem;
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background-color);
  /* This is to hide the two-col callout shadow */
  box-shadow: 0 -1rem 0 1rem var(--background-color);
  /* This is to align with the logo in the sidebar */
  height: 7rem;
}

.page-toolbar .social {
  margin-inline-start: auto;
  display: flex;
  gap: 0.5rem;
}

.page-toolbar svg {
  width: 1.5rem;
  height: 3rem;
  fill: var(--separator-color-fade);
}

/* Menu toggle button */

.menu-button {
  display: none;
}

.menu-button input {
  display: none;
}

@media only screen and (max-width: 700px) {
  .menu-button {
    display: block;
  }
}

.two-col {
  display: flex;
  gap: 0 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.two-col > p {
  flex: 1 1 45%;
  min-width: 300px;
  text-wrap: balance;
}

.two-col > .callout {
  background: var(--alternate-background-color);
  box-shadow: 0 0 0 1rem var(--alternate-background-color);
  margin-block-start: 2rem;
}

/* Card layout */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  flex: 1 1 20rem;
}

/* List of tips */

.tips {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

.tip {
  overflow: hidden;
  display: grid;
  gap: 1rem;
  padding: 2rem 0;
  grid-template-columns: 1fr 40%;
  grid-template-rows: min-content min-content 1fr;
}

.tip.tip-in-guide {
  padding: 1rem;
  background: var(--alternate-background-color);
  border-radius: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  margin: 0 0 0 2rem;
}

.tip.tip-in-guide .tip-image {
  display: none;
}

.tip:not(:last-child):not(.tip-in-guide) {
  border-block-end: 2px solid var(--separator-color);
}

.tip:first-child {
  padding-block-start: 0;
}

.tip .tip-title {
  color: var(--text-color);
  font-weight: bold;
}

.tip .tip-image {
  grid-column: 2;
  grid-row: 1 / span 3;
  max-height: 300px;
}

.tip .tip-image:empty {
  display: none;
}

.tip .tip-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--alternate-background-color);
  border-radius: 4px;
  box-shadow: 0 0 0.5rem 0 #0003;
}

.tip .tip-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-content: start;
  padding: 0;
  grid-column: 1;
  column-gap: 0.5rem;
}

.tip .tip-excerpt {
  grid-column: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@container (max-width: 450px) {
  .tip {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .tip .tip-title {
    grid-column: 1;
    grid-row: 1;
  }

  .tip .tip-excerpt {
    grid-column: 1;
    grid-row: 2;
  }

  .tip .tip-info {
    grid-column: 1;
    grid-row: 4;
  }

  .tip .tip-image {
    grid-column: 1;
    grid-row: 3;
  }

  .tip .tip-image img {
    border: none;
    border-top: 2px solid var(--alternate-background-color);
    max-height: 150px;
  }
}

.tip .tip-excerpt * {
  margin: 0;
}

.tips .tip.highlighted .highlight {
  background: var(--accent-color);
}

.tips.searching .tip:not(.highlighted) {
  display: none;
}

.show-unique-browser-feature .tip:not(.unique-browser-feature) {
  display: none;
}

/* Docs page */

.page-content {
  container-type: inline-size;
}

.page-content img {
  max-width: min(100%, 800px);
  width: auto;
  display: block;
  padding: 1rem;
  background: var(--background-color);
  border-radius: 0.5rem;
}

.page-content ul,
.page-content ul li {
  list-style: square;
  margin-left: 1rem;
}

.page-content ol,
.page-content ol li {
  list-style: decimal;
  margin-left: 1rem;
}

.tip-info {
  font-size: smaller;
  color: var(--sub-text-color);
  line-height: 2;
}

code {
  font-size: 1rem;
  background: var(--code-background-color);
  padding: 0.25rem;
  border-radius: 4px;
  color: var(--code-text-color);
  vertical-align: middle;
  white-space: pre-wrap;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

kbd {
  padding: 2px;
  border-radius: 3px;
  background: var(--keyboard-background-color);
  color: var(--keyboard-text-color);
  box-shadow: 1px 1px 0 0 #bbb;
}

pre {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
  white-space: normal;
}

.see-also {
  margin: 2rem 0 0 0;
}

.see-also ul {
  margin-block-start: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  box-sizing: border-box;
}

.see-also li {
  display: flex;
  gap: 1rem;
  background: var(--alternate-background-color-fade);
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  max-width: 100%;
}

.see-also .other-tip-image {
  flex: 6rem 0 0;
}

.see-also .other-tip-image img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 400px) {
  .see-also ul {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .see-also li {
    flex-direction: column;
  }

  .see-also li a {
    display: inline;
    flex: 1 1 auto;
  }

  .see-also .other-tip-image {
    flex: 1 0 0;
  }
}

.tip-footer {
  margin: 2rem 0 0 0;
  font-size: smaller;
  text-align: center;
}

.tip-footer * {
  margin: 0;
  display: inline;
  color: var(--sub-text-color);
}

.tip-footer .authors span,
.tip-footer .last-edit time {
  color: var(--text-color);
}

.tip-footer .last-edit::before {
  content: " - ";
}

/* Table */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid var(--separator-color);
}

table th,
table td {
  padding: 0.5rem;
  text-align: start;
  border: 1px solid var(--separator-color);
}

/* List of tags and browsers */

.tags,
.browsers,
.tags li,
.browsers li {
  display: inline;
}

.tags a,
.browsers a {
  padding: 0.25rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  line-height: 1;
}

.tags a:hover,
.tags a:focus,
.browsers a:hover,
.browsers a:focus {
  outline: 1px solid var(--browser-tag-text-color);
}

.tags li a {
  background: var(--category-tag-background-color);
  color: var(--category-tag-text-color);
  height: 1rem;
  box-sizing: content-box;
}

.browsers li a {
  background: var(--browser-tag-background-color);
  color: var(--browser-tag-text-color);
}

.browsers li a img {
  vertical-align: middle;
  height: 1em;
}

/* Misc. */

.bg-load-tip {
  border: 0;
  background: var(--accent-color);
  padding: 0.5rem;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Lightbox */

.lightbox-button {
  position: relative;
  background: none;
  border: 0;
  padding: 0;
  display: block;
  max-width: min(80%, 800px);
  width: auto;
  margin: 0 auto;
}
.lightbox-button > img {
  max-width: 100%;
}
.lightbox-button::after {
  content: "";
  width: 2%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 3%;
  border-radius: 20%;
  background-origin: padding-box;
  background: var(--accent-color-lighter) url(/assets/zoom.svg) no-repeat
    center/80%;
  z-index: 1;
}

.lightbox-button:hover::after {
  background-color: var(--accent-color);
}

.lightbox {
  border: none;
  background: none;
  padding: 0;
  max-width: 98vw;
  max-height: 98vh;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .lightbox[open] {
    animation: show 0.25s ease-in-out normal;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

:root:has(.lightbox[open]) {
  overflow: clip;
}

.lightbox::backdrop {
  background: var(--lightbox-backdrop);
}

.lightbox form {
  background: var(--alternate-background-color);
  display: grid;
  border-radius: 5px;
  padding: 1rem 1rem 0;
  grid-template-rows: 0 1fr min-content;
}

.lightbox img {
  width: auto;
  max-width: 100%;

  padding: 0;
  background: none;
  border-radius: 0;
}
.lightbox form > span {
  background: var(--alternate-background-color);
  position: sticky;
  bottom: 0rem;
  width: auto;
  padding: 1rem 0;
}

.lightbox button {
  width: 3rem;
  text-align: center;
  aspect-ratio: 1;
  border: none;
  font-size: 2rem;
  display: block;
  justify-self: end;
  position: sticky;
  top: 0;
  right: 0;
  margin: -1rem -1rem 0 0;
  padding: 0 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 5px;
  background-color: var(--accent-color-lighter);
  color: var(--accent-color-darker);
}
.lightbox button:hover {
  background-color: var(--accent-color);
}

/* Pagination */

.pagination {
  margin-top: 2rem;
}

.pagination ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination [aria-current] {
  color: var(--text-color);
  text-decoration: none;
}

/* Guides TOC */

.toc-container {
  font-size: 0.9rem;
  padding: 1rem;
  background: var(--alternate-background-color);
  border-radius: 0.5rem;
  float: inline-end;
  margin: 0 0 1rem 1rem;
}

@media only screen and (max-width: 700px) {
  .toc-container {
    float: none;
    margin: 0;
  }
}

.toc-container h2 {
  margin: 0;
  font-size: 1em;
}

.toc ol,
.toc ol li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc ol ol {
  padding-inline-start: 1rem;
}

.direct-link {
  display: none;
  text-decoration: none;
  font-weight: normal;
  color: var(--sub-text-color);
}

:is(h1, h2, h3, h4, h5, h6):hover .direct-link {
  display: inline;
}
