/* Themes  */
:root {
  --text-color: black;
  --background-color: white;

  --code-text-color: white;
  --code-background-color: #333;

  --keyboard-text-color: black;
  --keyboard-background-color: #ddd;

  --browser-tag-background-color: #f06;
  --browser-tag-text-color: black;

  --category-tag-background-color: gold;
  --category-tag-text-color: black;

  --alternate-background-color: aliceblue;
  --sub-text-color: #555;

  --accent-color: gold;
  --accent-color-lighter: rgb(243, 241, 207);
  --accent-color-darker: #8c7603;
  --link-color: #28706c;
  --focus-border-color: #333;
}

::backdrop {
  --lightbox-backdrop: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;

    --code-text-color: white;
    --code-background-color: #333;

    --keyboard-text-color: black;
    --keyboard-background-color: #ddd;

    --browser-tag-background-color: #f06;
    --browser-tag-text-color: black;

    --category-tag-background-color: gold;
    --category-tag-text-color: black;

    --alternate-background-color: #111;
    --sub-text-color: #cbcbcb;

    --accent-color: #bc1b6e;
    --accent-color-lighter: #e163a4;
    --accent-color-darker: #740f43;
    --link-color: #e163a4;
    --focus-border-color: rgb(223, 223, 223);
  }

  ::backdrop {
    --lightbox-backdrop: #111;
  }
}

/* Screenreader-only class. Makes content available for assistive technologies while hiding it visually */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/* Resets */
* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Main styles */

body {
  font-size: 13pt;
  font-family: Arial;
  margin: 0;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--text-color);
  background: var(--background-color);
}

:focus-visible {
  outline: 2px dashed var(--focus-border-color);
}

a {
  color: var(--link-color);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  padding: 1rem;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

header h1 {
  text-align: center;
}

header h1 a {
  display: block;
  width: 5rem;
  height: 3rem;
  text-indent: 100vw;
  overflow: hidden;
  white-space: nowrap;
  background: url(/assets/logo.png) no-repeat center;
  background-size: contain;
}

@media (prefers-color-scheme: dark) {
  header h1 a {
    filter: invert(100);
  }
}

header nav {
  margin: 0 0 0 auto;
}

.header-shadow {
  box-shadow: 0 0 5px 1px #0003;
  height: 0;
  position: sticky;
  z-index: 1;
  top: 5rem;
}

.header-shadow-block {
  z-index: 2;
  height: 1rem;
  background: var(--alternate-background-color);
  position: sticky;
}

.header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-menu li {
  white-space: nowrap;
}

.header-menu a {
  color: var(--text-color);
}

.header-menu a:hover {
  text-decoration-thickness: 2px;
}

.header-menu > li {
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 400px) {
  .header-menu > li {
    padding: 0.25rem;
    font-size: .9rem;
  }
}

@media only screen and (max-width: 320px) {
  .header-menu {
    flex-direction: column;
  }
}

.header-menu > li:hover,
.header-menu > li:focus-within {
  background: var(--accent-color);
}

.submenu-reveal {
  display: none;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  top: calc(100% - 0.25rem);
  right: 0;
  min-width: calc(100% + 2rem);
  text-align: center;
  background: var(--accent-color);
  padding: 1rem;
  z-index: 1;
  border-radius: 5px;
  border-start-end-radius: 0;
}

@media only screen and (max-width: 400px) {
  .submenu-reveal {
    grid-template-columns: 1fr;
  }
}

.header-menu > li:hover .submenu-reveal,
.header-menu > li:focus-within .submenu-reveal {
  display: grid;
}

/* Filter bar */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 60%;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .search {
    max-width: 100%;
  }
}

.search input {
  flex: 1;
  flex-basis: 3rem;
  padding: 1rem;
  border: 2px solid var(--accent-color-darker);
  border-radius: 4px;
  background: var(--accent-color-lighter);
  width: 0;
  /* Make font in input the same as elsewhere, and prevent iOS from zooming on tap */
  font: inherit;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .search input {
    border: 2px solid var(--accent-color-lighter);
    background: var(--accent-color-darker);
  }
}

/* Content area */

main {
  padding: 2rem;
  line-height: 1.6;
  background: var(--alternate-background-color);
  position: relative;
  top: -1rem;
}

main h2.tip-title {
	margin: 1rem 0;
}

/* List of tips */

.page-toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .page-toolbar {
    flex-direction: column;
    align-items: stretch;
  }
}

.page-toolbar h2 {
  margin-right: auto;
}

.tips {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tip {
  background: var(--background-color);
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  padding-left: 1rem;
  grid-template-columns: 1fr 40%;
  grid-template-rows: min-content min-content 1fr;
}

.tip .tip-title {
  color: var(--text-color);
  margin-top: 1rem;
  font-weight: bold;
}

.tip .tip-image {
  grid-column: 2;
  grid-row: 1 / span 3;
  max-height: 300px;
}

.tip .tip-image:empty {
  display: none;
}

.tip .tip-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: 2px solid var(--alternate-background-color);
}

.tip .tip-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-content: start;
  margin-bottom: 1rem;
  padding: 0;
  grid-column: 1;
}

.tip .tip-excerpt {
  grid-column: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .tip {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 0;
  }

  .tip .tip-title {
    grid-column: 1;
    grid-row: 1;
    margin: 1rem 1rem 0 1rem;
  }

  .tip .tip-excerpt {
    grid-column: 1;
    grid-row: 2;
    margin: 0 1rem;
  }

  .tip .tip-info {
    grid-column: 1;
    grid-row: 3;
    margin: 0 1rem;
  }

  .tip .tip-image {
    grid-column: 1;
    grid-row: 4;
  }
    
  .tip .tip-image img {
    border: none;
    border-top: 2px solid var(--alternate-background-color);
    max-height: 150px;
  }
}

.tip .tip-excerpt * {
  margin: 0;
}

.tips .tip.highlighted .highlight {
  background: var(--accent-color);
}

.tips.searching .tip:not(.highlighted) {
  display: none;
}

.show-unique-browser-feature .tip:not(.unique-browser-feature) {
  display: none;
}

/* Tip page */

.tip-content img {
	max-width: min(80%, 800px);
	width: auto;
	display: block;
	padding: 1rem;
	background: var(--background-color);
	border-radius: .5rem;
}

.tip-content ul,
.tip-content ul li {
  list-style: square;
  margin-left: 1rem;
}

.tip-content ol,
.tip-content ol li {
  list-style: decimal;
  margin-left: 1rem;
}

.tip-info {
  font-size: smaller;
  color: var(--sub-text-color);
  line-height: 2;
}

code {
  font-size: 1rem;
  background: var(--code-background-color);
  padding: 0.25rem;
  border-radius: 4px;
  color: var(--code-text-color);
  vertical-align: middle;
  white-space: pre-wrap;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

kbd {
  padding: 2px;
  border-radius: 3px;
  background: var(--keyboard-background-color);
  color: var(--keyboard-text-color);
  box-shadow: 1px 1px 0 0 #bbb;
}

pre {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
  white-space: normal;
}

.see-also {
	margin: 2rem 0 0 0;
}

.see-also ul {
	margin-block-start: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.see-also li {
	display: flex;
	gap: 1rem;
	background: var(--background-color);
	padding: .5rem;
	justify-content: space-between;
	align-items: center;
	border-radius: .5rem;
}

.see-also .other-tip-image {
  flex: 10rem 0 0;
}

.see-also .other-tip-image img {
  width: 100%;
  display: block;
}

.tip-footer {
  margin: 2rem 0 0 0;
  font-size: smaller;
  text-align: center;
}

.tip-footer * {
  margin: 0;
  display: inline;
  color: var(--sub-text-color);
}

.tip-footer .authors span,
.tip-footer .last-edit time {
  color: var(--text-color);
}

.tip-footer .last-edit::before {
  content: " - ";
}

/* List of tags and browsers */

.tags,
.browsers,
.tags li,
.browsers li {
  display: inline;
}

.tags a,
.browsers a {
  padding: 0.25rem;
  margin: 0 0.25rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  line-height: 1;
}

.tags li a {
  background: var(--category-tag-background-color);
  color: var(--category-tag-text-color);
}

.browsers li a {
  background: var(--browser-tag-background-color);
  color: var(--browser-tag-text-color);
}

/* Footer */

footer {
  text-align: center;
  /* main is relatively positioned at -1rem to account for the header shadow. So reduce the top-padding to 1rem instead of 2rem here */
  padding: 1rem 1rem 2rem 1rem;
  background: var(--background-color);
}

footer a {
  color: var(--link-color);
}

/* Misc. */

.bg-load-tip {
  border: 0;
  background: var(--accent-color);
  padding: 0.5rem;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.browser-name {
  color: var(--accent-color-darker);
}
@media (prefers-color-scheme: dark) {
  .browser-name {
    color: var(--accent-color-lighter);
  }
}

/* Lightbox */

.lightbox-button {
  position: relative;
  background: none;
  border: 0;
  padding: 0;
  display: block;
  max-width: min(80%, 800px);
  width: auto;
  margin: 0 auto;
}
.lightbox-button > img {
  max-width: 100%;
}
.lightbox-button::after {
  content: "";
  width: 2%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 3%;
  border-radius: 20%;
  background-origin: padding-box;
  background: var(--accent-color-lighter) url(/assets/zoom.svg) no-repeat
    center/80%;
  z-index: 1;
  transition: 0.25s ease-in-out background;
}

.lightbox-button:hover::after {
  background-color: var(--accent-color);
}

.lightbox {
  border: none;
  background: none;
  padding: 0;
  max-width: 98vw;
  max-height: 98vh;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .lightbox[open] {
    animation: show 0.25s ease-in-out normal;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

:root:has(.lightbox[open]) {
  overflow: clip;
}

.lightbox::backdrop {
  background: var(--lightbox-backdrop);
}

.lightbox form {
  background: var(--alternate-background-color);
  display: grid;
  border-radius: 5px;
  padding: 1rem 1rem 0;
  grid-template-rows: 0 1fr min-content;
}

.lightbox img {
  width: auto;
  max-width: 100%;

	padding: 0;
	background: none;
	border-radius: 0;
}
.lightbox form > span {
  background: var(--alternate-background-color);
  position: sticky;
  bottom: 0rem;
  width: auto;
  padding: 1rem 0;
}

.lightbox button {
  width: 3rem;
  text-align: center;
  aspect-ratio: 1;
  border: none;
  font-size: 2rem;
  display: block;
  justify-self: end;
  position: sticky;
  top: 0;
  right: 0;
  margin: -1rem -1rem 0 0;
  padding: 0 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 5px;
  background-color: var(--accent-color-lighter);
  color: var(--accent-color-darker);
  transition: 0.25s ease-in-out background;
}
.lightbox button:hover {
  background-color: var(--accent-color);
}

.announcement {
	background: var(--background-color);
	padding: .5rem;
	max-width: max-content;
	margin: 0 auto 2rem auto;
}

.announcement p {
	margin: 0;
	text-align: center;
	font-size: .9rem;
}

.pagination {
  margin-top: 2rem;
}

.pagination ul {
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination [aria-current] {
  color: var(--text-color);
  text-decoration: none;
}