---js
{
  eleventyComputed: {
    title: "{{ browser | processBrowserTagName | capitalize  }} DevTools Tips",
  },
  title: "DevTools Tips",
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true,
  pagination: {
      data: "collections",
      size: 1,
      alias: "browser",
      before: function(data) {
        return data.filter(entry => entry.startsWith('browser:'));
      }
  },
  permalink: "browser/{{ browser | slug | processBrowserTagName }}/"
}
---
<div class="page-toolbar">
  <h2>{{ collections[browser].length  }} {{ browser | processBrowserTagName | capitalize }} DevTools Tips</h2>
  {% include 'filter-tip-list.njk' %}
</div>
<ul class="tips">
{%- for post in collections[browser] | reverse -%}
  {% include 'tip-in-list.njk' %}
{%- endfor -%}
</ul>
