---json
{
  "permalink": "feed.xml",
  "layout": null,
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "DevTools Tips",
    "subtitle": "A collection of useful, cross-browser, tips and tricks to get more comfortable with using DevTools.",
    "url": "https://devtoolstips.org/",
    "feedUrl": "https://devtoolstips.org/feed.xml",
    "author": {
      "name": "Patrick Brosset",
      "email": "patrickbrosset@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <id>{{ metadata.url }}</id>
  <updated>{% lastTipDate collections.all %}</updated>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.all | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date.toISOString() }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
