---js
{
  title: "DevTools Tips",
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true
}
---
<div class="page-toolbar">
  {% include 'filter-tip-list.njk' %}
</div>
<h1>Welcome to DevTools Tips</h1>
<p>DevTools Tips offers quick tips and longer guides to help you learn how to use the various built-in browser DevTools.</p>
<p>If you are a web developer, DevTools Tips helps you get comfortable with your dev browser of choice. We have {{collections.all.length }} tips available and two full-length guides.</p>
<h2>Latest tips</h2>
<ul class="tips">
{% set latest_posts = collections.all | reverse %}
{%- for post in latest_posts.slice(0, 5) -%}
  {% include 'tip-in-list.njk' %}
{%- endfor -%}
</ul>
<h2>Guides</h2>
<ul class="guides">
  <li>Understand DevTools</li>
  <li>Improve runtime performance</li>
</ul>