---js
{
  title: "DevTools Tips",
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true
}
---

<h1>Tips to get more comfortable with DevTools</h1>
<div class="two-col">
  <p>
    If you're a web developer, <strong>DevTools Tips</strong> is for you! Whatever your level of experience, and whatever browser you
    prefer using for web development, use DevTools Tips to learn new tips and tricks on a regular basis.
    <br>Get tips delivered to your favorite news reader by using our <a href="/feed.xml">RSS feed</a>.
  </p>
  <p class="callout">
    There are currently <strong>{{collections.all.length }}</strong> tips (and we're adding more all the time) available thanks to all of our wonderful
    <a href="https://github.com/captainbrosset/devtools-tips/graphs/contributors">open-source contributors</a>.
    <br>If you know other debugging techniques and tips not documented here, submit a new tip on our
    <a href="https://github.com/captainbrosset/devtools-tips">GitHub repository</a>!
  </p>
</div>
<div class="cards">
  <div class="card">
    <h2>Latest tips</h2>
    <ul class="tips">
    {% set latest_posts = collections.tip | reverse %}
    {%- for post in latest_posts.slice(0, 5) -%}
      {% include 'tip-in-list.njk' %}
    {%- endfor -%}
    </ul>
  </div>
  <!-- <div class="card">
    <h2>Learning guides</h2>
    <p>The following are longer guides that help learn about and understand broader aspects of DevTools.</p>
    <ul class="tips">
      {% for post in collections.guide %}
        <li class="tip">
          <a href="{{ post.url }}" class="tip-title">{{ post.data.title }}</a>
          <a href="{{ post.url }}" class="tip-image">
            <img src="{{ post.data.thumbnail }}" alt="{{ post.data.alt }}">
          </a>
          <div class="tip-excerpt">
            {{ post.data.excerpt }}
            <a href="{{ post.url }}">Read more</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div> -->
</div>
