---js
{
  title: "DevTools Tips",
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true,
  extractImage: function(content) {
    const match = content.match(/<img src="([^"]+)" alt="([^"]+)"/);
    return match ? {src: match[1], alt: match[2]} : null;
  }
}
---
<main id="maincontent">
  {% include 'filter-tip-list.njk' %}
  <ul class="tips">
  {%- for post in collections.all -%}
    <li class="hover-box tip">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      {%- set image = extractImage(post.templateContent) -%}
      {% if image %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" loading="lazy">
      {% endif %}
      <div class="tip-info">
        Categories:
        <ul class="tags">
        {%- for tag in post.data.tags | onlyTags -%}
          <li class="tag"><a href="/tag/{{ tag }}/" title="See all tips about {{tag}}">{{ tag }}</a></li>
        {%- endfor -%}
        </ul>
        Supported by:
        <ul class="browsers">
        {%- for browser in post.data.tags | onlyBrowsers -%}
          <li class="browser"><a href="/browser/{{ browser | processBrowserTagName }}/" title="See all tips supported on {{ browser | processBrowserTagName }}">{{ browser | processBrowserTagName }}</a></li>
        {%- endfor -%}
        </ul>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</main>
