---js
{
  eleventyComputed: {
    title: "{{ tag | capitalize  }} DevTools Tips",
  },
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true,
  pagination: {
      data: "collections",
      size: 1,
      alias: "tag",
      before: function(data) {
        return data.filter(entry => !entry.startsWith('browser:'));
      }
  },
  permalink: "tag/{{ tag | slug }}/"
}
---
<div class="page-toolbar">
  <h2>{{collections[tag].length }} {{ tag }} DevTools Tips</h2>
  {% include 'filter-tip-list.njk' %}
</div>
<ul class="tips">
{%- for post in collections[tag] | reverse -%}
  {% include 'tip-in-list.njk' %}
{%- endfor -%}
</ul>
