---js
{
  title: "DevTools Tips",
  layout: "home.njk",
  templateEngineOverride: "njk",
  eleventyExcludeFromCollections: true,
  pagination: {
      data: "collections",
      size: 1,
      alias: "tag",
      before: function(data) {
        return data.filter(entry => !entry.startsWith('browser:'));
      }
  },
  permalink: "tag/{{ tag | slug }}/"
}
---
<main id="maincontent">
  <h2>{{ tag }} tips</h2>
  {% include 'filter-tip-list.njk' %}
  <ul class="tips">
  {%- for post in collections[tag] | reverse -%}
    {% include 'tip-in-list.njk' %}
  {%- endfor -%}
  </ul>
</main>
