---js
{
  getTags: function(collections) {
    const tags = [];
    for (const name in collections) {
      if (!name.startsWith('browser:') && name !== 'all') {
        tags.push(name);
      }
    }
    return tags.sort();
  },
  getBrowsers: function(collections) {
    const browsers = [];
    for (const name in collections) {
      if (name.startsWith('browser:')) {
        browsers.push(name);
      }
    }
    return browsers.sort();
  },
}
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="manifest" href="/manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4P6B6NT4Y8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4P6B6NT4Y8');
    </script>
  </head>
  <body>
    <header>
      <h1><a href="/">DevTools Tips</a></h1>
      <nav>
        <ul class="header-menu">
          <li tabindex="0">Categories
            <ul class="submenu-reveal">
              {%- for tag in getTags(collections) -%}
              <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          <li tabindex="0">Browsers
            <ul class="submenu-reveal">
              {%- for browser in getBrowsers(collections) -%}
              <li><a href="/browser/{{ browser | processBrowserTagName }}">{{ browser | processBrowserTagName }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          <li><a href="/all">All Tips</a></li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
    <footer role="contentinfo">
      <p>Have ideas for other tips? We'd love you to submit them on <a href="https://github.com/captainbrosset/devtools-tips">our GitHub repository!</a> ♥</p>
      <p>&copy; {% year %} <a href="https://patrickbrosset.com">Patrick Brosset</a></p>
    </footer>
    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', {
          scope: '/'
        });
      }
    </script>
  </body>
</html>
