<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTools Tips</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">DevTools Tips</a></h1>
      <label class="search">
        <input type="text" id="search" placeholder="Start typing to find tips">
      </label>
      <ul class="search-results tips"></ul>
    </header>
    {{ content | safe }}
    <footer role="contentinfo">
      <p>Have ideas for other tips? We'd love you to submit them on <a href="https://github.com/captainbrosset/devtools-tips">our GitHub repository!</a> ♥</p>
      <p>&copy; {% year %} <a href="https://patrickbrosset.com">Patrick Brosset</a></p>
    </footer>
    <script>
      const allTips = [
      {%- for post in collections.all -%}
        {url: "{{ post.url }}", title: "{{ post.data.title }}"},
      {%- endfor -%}
      ];
    </script>
    <script src="/assets/search.js"></script>
  </body>
</html>
